@import url(https://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy-Regular);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Regular";
  background-color: #e4e0e0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
