* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  font-family: var(--font-gilroy), sans-serif !important;
  font-weight: 600;
  background-color: #e4e0e0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.header {
  max-width: 100vw;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
