.main {
  margin-top: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  width: 100%;
  @media (max-width: 1400px) {
    max-width: 95%;
    margin-top: -15px;
  }
  @media (max-width: 700px) {
    max-width: 95%;
    margin-top: -15px;
  }
}

.left {
  width: 70%;
  padding: 1rem;
}
.left p {
  font-size: 3.5rem;
}
.right {
  width: 70%;
  padding: 1rem;
  align-self: flex-end;
  margin-top: 10px;
}
.right p {
  font-size: 3.5rem;
  margin-left: 70px;
}

.buttonDiv {
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.button {
  border: 2px solid black;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

.button a {
  text-decoration: none;
  color: black;
}

.featured {
  max-width: 90%;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  align-items: center;
}

.featuredLeft {
  width: 50%;
  padding: 1rem;
}
.featuredLeft h2 {
  font-size: 4rem;
}
.featuredRight {
  width: 50%;
  padding: 1rem;
}
.featuredRight p {
  font-size: 1.2rem;
  color: #717070;
  line-height: 1.3;
}

.projects {
  max-width: 90%;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.projectCard {
  border: 2px solid #cbcad1;
  width: 26%;
  height: 550px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.cardEmoji {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.whisperemojiDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: #fb2c36;
}
.petmuseemojiDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: #8e51ff;
}
.stackDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.stackDiv p {
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
  color: #585b5e;
  background-color: #cbcad1;
}
.cardTitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.cardTitle p {
  font-size: 2.5rem;
}
.cardInfo {
  margin-top: 15px;
}
.cardInfo p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.cardStack {
  margin-top: 15px;
  margin-bottom: 20px;
}
.cardStack ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.cardStack li {
  font-size: 1rem;
  border: 1px solid #717070;
  padding: 0.2rem 0.6rem;
  color: #585b5e;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 0.5rem;
}
.cardFooter p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.cardFooter1 {
  display: flex;
  gap: 0.5rem;
  color: #585b5e;
}
.liveDot {
  display: flex;
}
.liveDot p {
  margin-left: -6px;
}
.dot {
  margin-left: -15px;
}
.whispercardButton {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: none;
  gap: 0.3rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #fb2c36;
  justify-content: center;
  color: #fb2c36;
}
.whispercardButton:hover {
  cursor: pointer;
}
.petmuseCardButton {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: none;
  gap: 0.3rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #8e51ff;
  justify-content: center;
  color: #8e51ff;
}
.petmuseCardButton:hover {
  cursor: pointer;
}
.externallink:hover {
  cursor: pointer;
}
.about {
  max-width: 90%;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  align-items: center;
}

.aboutLeft {
  width: 50%;
  padding: 1rem;
}
.aboutLeft h2 {
  font-size: 4rem;
}
.aboutRight {
  width: 50%;
  padding: 1rem;
}
.aboutRight p {
  font-size: 1.2rem;
  color: #717070;
  line-height: 1.3;
}

.aboutMe {
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
}

.aboutMe p {
  font-size: 1.3rem;
}

.tools {
  max-width: 90%;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.tools h2 {
  font-size: 3rem;
}

.tools h3 {
  font-size: 1.7rem;
}
.frontend {
  margin-top: 10px;
}
.backend {
  margin-top: 10px;
}
.extras {
  margin-top: 10px;
}
.frontendTools {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
  height: 100px;
}
.javascript {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.javascript p {
  font-size: 1.2rem;
}

.react {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.react p {
  font-size: 1.2rem;
}
.nextjs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nextjs p {
  font-size: 1.2rem;
}
.tailwind {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tailwind p {
  font-size: 1.2rem;
}
.styledcomponents {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.styledcomponents p {
  font-size: 1.2rem;
}
.framermotion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.framermotion p {
  font-size: 1.2rem;
}
.tanstackquery {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tanstackquery p {
  font-size: 1.2rem;
}
.backendTools {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
  height: 100px;
}
.nodejs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nodejs p {
  font-size: 1.2rem;
}
.sqlite {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sqlite p {
  font-size: 1.2rem;
}
.supabase {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.supabase p {
  font-size: 1.2rem;
}
.extraTools {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.4rem;
  height: 100px;
}
.git {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.git p {
  font-size: 1.2rem;
}
.github {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.github p {
  font-size: 1.2rem;
}
.figma {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.figma p {
  font-size: 1.2rem;
}
.vercel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.vercel p {
  font-size: 1.2rem;
}
.resend {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.resend p {
  font-size: 1.2rem;
}
.postman {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.postman p {
  font-size: 1.2rem;
}
.aws {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.aws p {
  font-size: 1.2rem;
}
.summary {
  max-width: 90%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.summary h2 {
  font-size: 3rem;
  width: 500px;
  text-align: center;
}

.summary p {
  font-size: 1.3rem;
  color: #717070;
  width: 710px;
  text-align: center;
  margin-top: 10px;
}

.summary ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.summary li {
  font-size: 1.2rem;
}

.cwm {
  max-width: 90%;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  @media (max-width: 1400px) {
    max-width: 95%;
  }
  @media (max-width: 700px) {
    max-width: 95%;
  }
}
.cwm h1 {
  font-size: 8rem;
  text-transform: uppercase;
  background: linear-gradient(270deg, black, #717070);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 2s ease-in-out infinite alternate;
  @media (max-width: 1400px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 2rem;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.footer {
  width: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
}
.footer p {
  font-size: 1.2rem;
  color: #717070;
  @media (max-width: 700px) {
    font-size: 1.1rem;
  }
}

.images {
  width: 60px;
  height: 60px;
}
