.main {
  margin-top: 40px;
  @media (max-width: 1400px) {
    margin-top: 30px;
  }
  @media (max-width: 700px) {
    margin-top: 30px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  width: 100%;
  @media (max-width: 1400px) {
    max-width: 92%;
  }
  @media (max-width: 700px) {
    max-width: 92%;
  }
}

.cwm {
  max-width: 90%;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  @media (max-width: 1400px) {
    max-width: 92%;
  }
  @media (max-width: 700px) {
    max-width: 92%;
  }
}
.cwm h1 {
  font-size: 8rem;
  text-transform: uppercase;
  background: linear-gradient(270deg, black, #717070);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 2s ease-in-out infinite alternate;
  @media (max-width: 1400px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 2rem;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.footer {
  width: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
}
.footer p {
  font-size: 1.2rem;
  color: #717070;
  @media (max-width: 700px) {
    font-size: 1.1rem;
  }
}

.images {
  width: 60px;
  height: 60px;
}
