.buttonDiv {
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  @media (max-width: 1400px) {
    width: 92%;
  }
  @media (max-width: 700px) {
    width: 92%;
  }
}

.buttonDiv a {
  text-decoration: none;
  color: black;
}

.button {
  border: 2px solid black;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.3rem;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  color: black;
  @media (max-width: 700px) {
    font-size: 1.2rem;
    padding: 0.8rem 1.7rem;
  }
}
