.featured {
  max-width: 90%;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 120px;
  align-items: center;
  @media (max-width: 1400px) {
    max-width: 92%;
    flex-direction: column;
  }
  @media (max-width: 700px) {
    max-width: 92%;
    flex-direction: column;
  }
}

.featuredLeft {
  width: 50%;
  padding: 1rem;
  @media (max-width: 1400px) {
    width: 100%;
    padding: 0rem;
  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 0rem;
  }
}
.featuredLeft h2 {
  font-size: 4rem;
  @media (max-width: 1400px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 2.2rem;
  }
}
.featuredRight {
  width: 50%;
  padding: 1rem;
  @media (max-width: 1400px) {
    width: 100%;
    padding: 0rem;
  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 0rem;
    margin-top: 5px;
  }
}
.featuredRight p {
  font-size: 1.2rem;
  color: #717070;
  line-height: 1.3;
  @media (max-width: 700px) {
    font-size: 1rem;
  }
}
