.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 93%;
  width: 100%;
  margin: auto;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media (max-width: 700px) {
    gap: 0.5rem;
  }
}

.avatar {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  @media (max-width: 700px) {
    width: 50px;
    height: 50px;
  }
}
.info {
  @media (max-width: 700px) {
    width: 200px;
  }
}
.info p {
  font-size: 1.15rem;
  color: #717070;
  @media (max-width: 700px) {
    font-size: 0.9rem;
  }
}

.info h2 {
  font-size: 2rem;
  @media (max-width: 700px) {
    font-size: 1.5rem;
  }
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  @media (max-width: 1400px) {
    display: none;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.nav a {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav {
  margin-left: 120px;
  @media (max-width: 1400px) {
    margin-left: 0px;
  }
  @media (max-width: 700px) {
    margin-left: 0px;
  }
}

.datetime {
  width: 400px;
  text-align: right;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #9f9c9c;
  @media (max-width: 1400px) {
    display: none;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.datetime p {
  font-size: 1.2rem;
}

.date {
  width: auto;
}
.time {
  width: auto;
}

.menu {
  display: none;
  @media (max-width: 1400px) {
    display: block;
  }
  @media (max-width: 700px) {
    display: block;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #e4e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 998;
  transform-origin: top;
}
.mobilemenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 10px;
  width: 93%;
  align-items: center;
}
.mobileitem {
  font-size: 1.2rem;
  width: 90%;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  @media (max-width: 1400px) {
    font-size: 1.5rem;
  }
  @media (max-width: 700px) {
    font-size: 1.3rem;
  }
}

.mobiledatetime {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
  font-size: 1.1rem;
  color: #9f9c9c;
  margin-top: 20px;
  @media (max-width: 1400px) {
    font-size: 1.5rem;
  }
  @media (max-width: 700px) {
    font-size: 1.2rem;
  }
}
.mobileheader {
  padding: 1rem 0rem;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
