.left {
  width: 70%;
  padding: 1rem;
  @media (max-width: 1400px) {
    width: 100%;
    padding: 0rem;
  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 0rem;
  }
}
.left p {
  font-size: 3.5rem;
  @media (max-width: 1400px) {
    font-size: 3rem;
    line-height: 1.5;
  }
  @media (max-width: 700px) {
    font-size: 1.9rem;
    line-height: 1.5;
  }
}
