.summary {
  max-width: 90%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  @media (max-width: 1400px) {
    max-width: 94%;
  }
  @media (max-width: 700px) {
    max-width: 94%;
  }
}

.summary h2 {
  font-size: 3.5rem;
  width: 600px;
  text-align: center;
  @media (max-width: 1400px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 2rem;
    width: 100%;
  }
}

.summary p {
  font-size: 1.3rem;
  color: #717070;
  width: 710px;
  text-align: center;
  margin-top: 10px;
  @media (max-width: 700px) {
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.summary ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.summary li {
  font-size: 1.3rem;
  @media (max-width: 700px) {
    font-size: 1.1rem;
  }
}
.summary li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button {
  border: 2px solid black;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.3rem;
  font-family: inherit;
  cursor: pointer;
  color: black;
  background-color: transparent;
  @media (max-width: 700px) {
    font-size: 1.2rem;
    padding: 0.8rem 1.7rem;
  }
}

.summary a {
  text-decoration: none;
  color: black;
}
